#waybar {
  font-family: 'Caskaydia Cove Nerd Font';
  font-weight: bold;
  font-size: 10px;
  min-height: 0;
}

@import "css/info.css";
@import "css/power.css";
@import "css/window.css";
@import "css/workspace.css";
@import "css/volume-bright.css";
@import "theme.css";

/* === Main Background === */

window#waybar {
  background: rgba(0,0,0,0.2);
}

tooltip {
  background: @bg-primary;
  border-color: transparent;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tooltip label {
  color: @text-secondary;
}
