spawn-sh-at-startup "/usr/lib/polkit-kde-authentication-agent-1 &" // Polkit
spawn-sh-at-startup "swaybg -i ~/dotfiles/themes/wallpapers/egypt.png" // Set wallpaper
spawn-sh-at-startup "waybar" // Launch waybar

prefer-no-csd // Disable program decorations
screenshot-path null // Disable screenshot saving
