/* Power Button */
#custom-power {
font-size: 10px;
border-radius: 50%;
padding: 0;
padding-right: 2px;
margin: 0;
min-width: 20px;
box-shadow: inset 0 0 0 1px @text-secondary;
color: @text-secondary;
background-color: @bg-primary;
transition: color 0.3s ease, box-shadow 0.3s ease;
}

#custom-power:hover {
color: @text-accent;
box-shadow: inset 0 0 0 1px @text-accent;
}
