#custom-power {
    font-size: 14px;
    padding: 4px 16px 4px 12px;
    border-radius: 500px;

    box-shadow: inset 0 0 0 1px #E6C88F;

    color: #E6C88F;
    background-color: #1A1A1A;

    transition: color 0.3s ease, box-shadow 0.3s ease;
}

#custom-power:hover {
    color: #2A9999;
    box-shadow: inset 0 0 0 1px #2A9999;
}

