/* Power Button */
#custom-power {
font-size: 10px;
border-radius: 10px;
padding: 0;
padding-right: 2px;
margin: 0;
min-width: 40px;
color: @active-fg;
background-color: @active-bg;
transition: color 0.3s ease, background 0.3s ease;
}

#custom-power:hover {
color: @text-accent;
background: @background;
box-shadow: inset 0 0 0 1px transparent;
}
