/* Volume and Brightness Modules */
#pulseaudio, #custom-backlight {
color: @module-fg;
}

/* Powerline Separators */
#custom-left4, #custom-left5, #custom-leftin1 {
font-size: 20px;
}

/* Volume Module */
#pulseaudio {
background-color: @pulseaudio-bg;
}

#custom-left4 {
color: @separator-l4;
}

/* Brightness Module */
#custom-backlight {
background-color: @backlight-bg;
padding-right: 5px;
}

#custom-left5 {
background-color: @separator-l4;
color: @separator-l3;
text-shadow: -2px 0px 2px @shadow-color;
padding-left: 2px;
}

#custom-leftin1 {
color: @separator-l3;
}
