/* Workspaces */
#workspaces {
background: @workspaces-bg;
margin-left: 4px;
}

#workspaces button {
font-family: 'Eb Garamond', serif;
font-weight: 600;
font-size: 12px;
padding: 0;
min-width: 50px;
color: @main-fg;
background: @main-bg;
border-radius: 10px;
transition: color 0.3s ease, box-shadow 0.3s ease;
}

#workspaces button:hover {
color: @hover-fg;
background: @hover-bg;
border-color: @main-br;
box-shadow: none;
text-shadow: none;
}

#workspaces button.active {
color: @active-fg;
background: @active-bg;
}
