#workspaces {
    background: transparent;
    margin-right: 14px;
}

#workspaces button {
  font-family: 'Eb Garamond';
  font-weight: 600;
  font-size: 14px;

  color: white;
  background: #1A1A1A;
  border-radius: 500px;

  min-width: 15px;
  min-height: 15px;

  padding: 4px 10px 4px 10px;
  margin: 0px 4px 0px 4px;
}

#workspaces button:hover {
  border-color: #2A9999;
  color: #2A9999;
  background: #121212;

  box-shadow: none;
  text-shadow: none;
}

#workspaces button:hover.active {
  border-color: #2A9999;
}

#workspaces button.active {
  color: #E6C88F;
  border-color: #E6C88F;
}
